html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.log-viewer-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.log-video-and-failure {
  display: flex;
  flex: 0 0 main-size;
  flex-flow: row nowrap;
}

.log-video {
  flex: 0 0 main-size;
}

.log-entries {
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.log-group {

}

.log-entry {
}

.log-row {
  display: block;
}

.log-time-cell,
.log-thread-cell,
.log-window-cell,
.log-origin-cell,
.log-level-cell,
.log-filename-cell,
.log-lineNumber-cell,
.log-functionName-cell,
.log-name-cell,
.log-message-cell,
.log-action-cell,
.log-generic-cell {
  display: inline-block;
}

.log-cell-clump {
  display: inline-block;
}

.log-time-cell {
  width: 60px;
  color: #444;
}

/* like main page versus specific workers */
.log-thread-cell {
  width: 40px;
}

.log-window-cell {
  width: 400px;
}

.log-origin-cell {
  width: 240px;
}

.log-level-cell {
  width: 40px;
}

.log-level-cell-error {
  color: red;
}
.log-level-cell-warn {
  color: gold;
}

.log-filename-cell {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.log-lineNumber-cell {
  with: 20px;
}

.log-functionName-cell {
  width: 120px;
}

/* the name of the log event; expected to be terse-ish */
.log-name-cell {
  width: 260px;
}

.log-message-cell {
}

.log-action-cell {
  background-color: #ddf;
}

.log-action-label {
  font-weight: bold;
}

.log-keyvalue-cell {
  padding-right: 0.4em;
}

.log-key-subcell {
  background-color: #eee;
}

.log-value-subcell {
}

.log-generic-cell {
}
