.log-group {

}

.log-row {
  display: block;
}

.log-time-cell,
.log-thread-cell,
.log-window-cell,
.log-origin-cell,
.log-level-cell,
.log-filename-cell,
.log-lineNumber-cell,
.log-functionName-cell,
.log-name-cell,
.log-message-cell,
.log-action-cell,
.log-generic-cell {
  display: inline-block;
}

.log-cell-clump {
  display: inline-block;
}

.log-time-cell {
  width: 120px;
}

/* like main page versus specific workers */
.log-thread-cell {
  width: 40px;
}

.log-window-cell {
  width: 400px;
}

.log-origin-cell {
  width: 200px;
}

.log-level-cell {
  width: 40px;
}

.log-filename-cell {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.log-lineNumber-cell {
  with: 20px;
}

.log-functionName-cell {
  width: 120px;
}

/* the name of the log event; expected to be terse-ish */
.log-name-cell {
  width: 120px;
}

.log-message-cell {
}

.log-action-cell {
}

.log-generic-cell {
}
